<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sovize.riesgocop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="n"
            android:fullBackupContent="true">
        <activity android:name=".views.activities.ProfileActivity">
        </activity>
        <activity android:name=".views.activities.Login">
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.ReportActivity">
        </activity>
        <activity
                android:name=".views.activities.ReportDetail"
                android:theme="@style/AppTheme.NoActionBar"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.sovize.riesgocop.utilities.system.FileManager"
                android:exported="false"
                android:readPermission="com.sovize.riesgocop.utilities.system.fileManager.FileManager.READ"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>